#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

// .page-content {
//   display: flex;

//   flex: 1;
// }
