@use "../../styles/include-media.scss" as *;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include media(">big-desktop") {
    padding: 0 20rem;
  }
}

main {
}

// .page-content {
//   display: flex;

//   flex: 1;
// }
