// @import "https://code.highcharts.com/css/highcharts.css";

$background-color: var(--color-secondary-dark) !default;
$neutral-color-80: var(--color-text-primary);
$neutral-color-60: var(--color-text-primary);
$neutral-color-3: var(--color-primary-dark);

$colors: var(--color-primary) var(--color-tertiary) #90ed7d #f7a35c #8085e9 #f15c80 #e4d354 #2b908f #f45b5b #91e8e1 !default;

.wrapper {
  width: 100%;
}
.chart :global {
  width: 100%;
  height: 100%;

  // .highcharts-background {
  //   // fill: transparent;
  // }
}

.highcharts-grid-line {
  display: none;
}

@import "../../styles/highcharts.scss";
