@use "../../styles/index" as *;

.charts {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include media(">big-desktop") {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.chart {
  width: 100%;
  //needed or highcharts won't resize inside a grid container
  min-width: 0;
}
