.chart {
  width: 100%;
  //needed or highcharts won't resize inside a grid container
  min-width: 0;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 2rem;
}

// .wrapper {
//   flex-direction: column;
//   gap: 2rem;
// }
