.feeDistribution {
  flex: 1;
}

.feeHistory {
  flex: 1;
  // display: none;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // justify-content: space-between;
  gap: 2rem;
}

// .wrapper {
//   flex-direction: column;
//   gap: 2rem;
// }
