@use "../../styles/index" as *;

.timeFrameSelector {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-primary-dark);
  padding: 1px;

  @include media(">phone") {
    margin-left: 7rem;
  }

  .timeFrame {
    padding: 2px 5px;
    cursor: pointer;

    &--active {
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius);
      background-color: var(--color-secondary);
      transition: background-color 0.25s ease-out;
    }
  }
}

.timeframe-compact {
  position: absolute;
  top: 1rem;
  right: 1rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  z-index: 2;

  // max-width: 30%;
  // text-align: end;

  & span {
    font-weight: 300;
    margin-right: 1rem;
  }

  & button {
    font-weight: 500;
    font-size: 1.4rem;
    flex: 1;
  }
}
