@use "../../styles/index" as *;

.filter {
  display: flex;
  align-items: start;
  gap: 2rem;
  margin: 1rem;
  flex-direction: column;

  @include media(">phone") {
    flex-direction: row;
    align-items: center;

    grid-template-columns: 1fr 1fr;
  }
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid var(--blue4);
  border-radius: var(--border-radius-sm);
  font-size: 1.8rem;
  background-color: var(--slate5);
  padding: 0rem 1rem;

  @include media(">phone") {
    margin-left: auto;
  }

  &:focus-within {
    border-color: var(--blue1);
    background-color: #fff;
  }

  &__input {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    padding: 0.5rem;

    &::placeholder {
      color: currentColor;
      opacity: 50%;
    }

    &--active {
      display: initial;
    }
  }
}

.searchBtn {
  color: var(--blue5);
  margin-left: auto;

  & .icons {
    color: var(--blue4);

    &:hover,
    &:active {
      color: var(--blue3);
    }
  }

  & > * {
    color: var(--color-text-primary);
  }
}

.filterBtn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-text-primary);
  border: 1px solid var(--blue4);
  border-radius: var(--border-radius-sm);
  padding: 0.5rem 1rem;
}

.icons {
  color: var(--color-text-primary);
  position: relative;
  top: 1px;
  // width: 1.2rem;
  // height: 1.2rem;
}

.popover {
  background-color: var(--blue8);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--blue4);
  z-index: 100;

  &:focus-visible,
  &[data-focus-visible],
  & button:focus-visible,
  & button[data-focus-visible] {
    outline: 2px solid var(--blue3);
    outline-offset: 2px;
  }

  & .filter-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.columns {
  padding: 0rem 1rem;
  background-color: var(--blue8);

  &__column {
    display: flex;
    align-items: center;

    //needed for drag n drop otherwise weird things happen when positioned inside a modal
    top: auto !important;
    left: auto !important;
  }

  &__column:not(:first-of-type) {
    padding-top: 1rem;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  &__checkbox {
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: var(--blue1);
    background-color: var(--blue5);
    color: var(--blue1);
    margin-right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  &__drag {
    margin-left: auto;
    cursor: pointer;
  }

  &__checkbox:focus-visible,
  &__checkbox[data-focus-visible] {
    outline: 2px solid var(--blue1);
    outline-offset: 2px;
  }
}
