@use "../../styles/index" as *;

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 2rem 0rem;

  &--sticky {
    border-bottom: 1px solid var(--blue5);
    background-color: #0b15237d;
  }
}

.menu__icon {
  fill: var(--color-text-primary);
  height: 2.5rem;
  width: 2.5rem;

  @include media(">desktop") {
    display: none;
  }
}

.menu__button {
  @include media(">desktop") {
    display: none;
  }
}

.profile {
  display: none;

  @include media(">desktop") {
    display: block;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  &--name {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  &--icon {
    width: 5rem;
    height: 5rem;
  }
}
