@use '../../styles/index' as *;

.navbar {
  flex-basis: 100%;
  opacity: 0;
  height: 0;

  @include media('>desktop') {
    display: flex;
    width: auto;
    height: auto;
    opacity: 1;
    // background-color: unset;
    flex-basis: 0;
  }

  &--open {
    display: block;
    // height: 100vh;
    height: fit-content;
    opacity: 1;
    border: 1px solid var(--blue4);
    border-radius: var(--border-radius);
    background-color: var(--blue8);

    @include media('>desktop') {
      border: unset;
      border-radius: unset;
      background-color: unset;
    }
  }

  &--open > .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include media('>desktop') {
      flex-direction: row;
      align-items: flex-start;
      display: flex;
      gap: 2rem;
    }
  }
}

.menu {
  padding: 2rem 0;
  font-size: 2rem;
  display: none;

  @include media('>desktop') {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    padding: 0;
    gap: 2rem;
  }

  & a {
    color: var(--white);
    padding: 0.5rem 2rem;

    border-radius: var(--border-radius);
    position: relative;
    display: inline-block;

    @include media('>desktop') {
      margin: 1rem 1rem;
      font-size: 1.8rem;
    }

    &:hover {
      color: var(--lime4);
    }
  }

  & a.active {
    color: var(--white);
    border-radius: var(--border-radius);
    position: relative;
    background-color: var(--blue9);

    &::after,
    &::before {
      content: '';
      background: linear-gradient(45deg, var(--lime2), var(--lime3), var(--lime4), var(--green2), var(--green3));
      inset: -0.2rem;
      position: absolute;
      border-radius: inherit;
      z-index: -1;
    }
  }
}
