.table-container {
  border-radius: 1.5rem;
  box-shadow: var(--color-border) 0px 3px 6px, var(--color-border) 0px 3px 6px, 0 0 0 1px var(--color-border);
  background-color: var(--color-secondary-dark);
  width: 100%;

  max-width: calc(100vw - 50px);
  overflow-x: auto;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
}
.table-container th {
  border-bottom: var(--divider);
  white-space: nowrap;
}

thead tr > :first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: var(--color-secondary-dark);
}

tbody tr > :first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: var(--color-secondary-dark);
}

.table-container tr {
  border-bottom: var(--divider);
}

.table-container tr:last-child {
  border: none;
}

.table-container td,
.table-container th {
  padding: 1rem 1.5rem;
  text-align: right;
}

.table-container td:first-of-type,
.table-container th:first-of-type {
  text-align: left;
}

.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header {
  display: inline-flex;
  gap: 3px;
  align-items: center;
}
