@use "../../styles/index" as *;

.table-container {
  width: 100%;
  overflow-x: auto;

  & table {
    border-collapse: collapse;
    table-layout: fixed;

    @include media(">phone") {
      // table-layout: fixed;
      width: 100%;
    }
  }

  & th {
    border-bottom: var(--divider);
    white-space: nowrap;
  }

  & thead tr > :first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }

  & tbody tr > :first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }

  & tr {
    border-bottom: var(--divider);
    cursor: pointer;

    &:hover {
      background-color: var(--blue6);
    }
  }

  & tr:last-child {
    border: none;
  }

  & td,
  & th {
    padding: 1rem 1.5rem;
    text-align: right;
  }

  & td:first-of-type,
  & th:first-of-type {
    text-align: left;
  }
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header {
  display: inline-flex;
  gap: 3px;
  align-items: center;
}
