@use '../../styles/index' as *;

.wrapper {
  width: 100%;
  margin-bottom: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;

  @include media('>phone') {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  @include media('>desktop') {
    width: fit-content;
    padding: 2rem 2rem;
  }
}

.header {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  align-items: center;

  gap: 1rem;

  @include media('>phone') {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
  }

  & .logo {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;

    @include media('>phone') {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

.timeFrame {
  grid-column: 2/2;
  grid-row: 1;
  text-align: right;
}

.stats-container {
  margin: 2rem 0rem;
  grid-column: 1 / -1;

  @include media('>phone') {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @include media('>desktop') {
    width: fit-content;
  }

  & .title {
    font-size: 1.6rem;

    @include media('>phone') {
      margin-bottom: 2rem;
      text-align: center;
    }
    color: var(--slate8);
  }

  & .number {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    justify-content: end;

    @include media('>phone') {
      font-size: 2rem;
      margin-right: 2rem;
      justify-content: center;
    }
  }

  & .percentage {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--slate8);
    justify-content: end;
    display: flex;

    @include media('>phone') {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.5rem;
    }

    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  & .stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    @include media('>phone') {
      flex-direction: column;
      justify-content: initial;
      align-items: center;
      margin-bottom: 0rem;

      padding: 0rem 2rem;
      flex-grow: 1;
      flex-basis: 30%;
    }
    @include media('>tablet') {
      flex: auto;
    }

    @include media('>desktop') {
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 0rem 1rem;
    }
  }

  & .number-container {
    @include media('>desktop') {
      display: flex;
      justify-content: center;
      align-items: start;
    }
  }

  & .info {
    font-size: 1rem;
  }
}
