.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.tab-list {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.tab {
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-style: none;

  font-size: 2rem;
  line-height: 1.5rem;
  padding: 1rem 2rem;
}

.tab:hover {
  background-color: hsl(204 10% 10% / 0.1);
  color: var(--lime4);
}

.tab:focus-visible,
.tab[data-focus-visible] {
  outline: 2px solid var(--blue3);
  outline-offset: 2px;
}

.tab[aria-disabled="true"] {
  opacity: 0.5;
}

.tab[aria-selected="true"] {
  border-bottom: 2px solid var(--lime4);
  color: #fff;
}

.tab:hover[aria-selected="true"] {
  color: var(--lime4);
}

.panels {
  padding: 0.5rem;
}
